services:
  mongo:
    image: mongo
    restart: always
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin_user 
      MONGO_INITDB_ROOT_PASSWORD: web3
    ports:
      - "27020:27017"
    networks:
      - mongo-network

  calculadora:
    image: ghcr.io/sergiomdza/calculadora_web3:latest
    pull_policy: always
    volumes:
      - ./backend:/app
    ports:
      - "8088:8000"
    networks:
      - mongo-network

networks:
  mongo-network:
    driver: bridge
